<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<string>选一位陌生人，在TA允许的情况下给TA拍照</string>
		<string>绕桌子跑一圈，边跑边喊：我再也不尿床了</string>
		<string>抱垃圾桶傻笑一分钟</string>
		<string>拍一张搞笑照片发上微博</string>
		<string>左手叉腰，右手握拳指向天空喊：燃烧吧，小宇宙，我是贱人</string>
		<string>让左手边的人打十下手心</string>
		<string>电话薄里任意指定一个异性，问TA洗手间怎么走</string>
		<string>选一位陌生人，问TA要一块钱</string>
		<string>神圣地吻墙十秒</string>
		<string>表演一个明星，直到有人认出</string>
		<string>用屁股在地上写个W</string>
		<string>睁大眼睛一分钟</string>
		<string>用舌头舔肘部</string>
		<string>在场选一位异性，对唱情歌</string>
		<string>选陌生人问：我帅嘛？直到得到肯定答复</string>
		<string>表演一个卡通人物，直到有人认出</string>
		<string>站起来大喊：我的病终于有救了，有救了，有救了</string>
		<string>站起来大喊：我不是处女三遍</string>
		<string>唱青藏高原最后一句</string>
		<string>蹲到墙角里唱征服</string>
		<string>去要一个陌生人手机号码</string>
		<string>模仿林志玲的声音说一段话</string>
		<string>表演大笑的样子，不能出声</string>
		<string>去大街上，歇斯底里的喊出自己爱的那个人的名字</string>
		<string>对右数第一个男生，模仿古代妓女拉客</string>
		<string>电话薄里任意指定一个异性，对TA表白</string>
		<string>站起來大喊：我是超人,我要回家了三遍</string>
		<string>选一位陌生人，问TA有没有结婚</string>
		<string>右手捏住左耳垂，然后弯下腰顺时针转十圈，再金鸡独立十秒</string>
		<string>将舌头翻过来，舌面朝下，舌底朝上，让所有人看到 </string>
		<string>半分钟内获得现场一位MM的身高体重</string>
		<string>删除你手机上某一个联系人</string>
		<string>站到凳子上表演大猩猩捶胸呐喊动作十秒</string>
		<string>用舌头舔肘部</string>
		<string>学超级名模走秀，绕桌子一圈</string>
		<string>左手拉右耳，右手拉左耳，从桌子底下过</string>
		<string>去室外大喊：卖拖鞋啦，两块一双，买一送三</string>
		<string>含情脉脉对左数第二个异性说，我没穿内裤，你能借我么</string>
		<string>跟你左边第二位换座位</string>
		<string>青蛙跳一圈</string>
		<string>表演胡言乱语一分钟</string>
		<string>跳天鹅湖</string>
		<string>让你左数第一个女生喝一杯酒</string>
		<string>跳一段骑马舞</string>
		<string>收集在场任意一位的左脚袜子</string>
		<string>表演几个表情，让大家猜你的内心活动</string>
		<string>选一位陌生人，在TA说三遍我是猪</string>
		<string>背对大家，用屁股在空气中写田字</string>
		<string>拿着自己的鞋，问陌生人：我的手机怎么没信号</string>
		<string>删除你手机上某一张照片</string>
		<string>摆芙蓉姐姐S形，直到在座的都满意为止</string>
		<string>给在座最好看的异性拍张照片</string>
		<string>半蹲跳绕桌子一圈</string>
		<string>右手跨过后脑勺从左边摸右眼</string>
		<string>跳肚皮舞十秒钟</string>
		<string>俯卧撑十下</string>
		<string>帮右边的人捶背，直到对方满意</string>
		<string>对陌生异性挤眉弄眼</string>
		<string>表演哭，直到在座的都满意为止</string>
		<string>表演中毒身亡的样子</string>
		<string>模仿脑白金广告，边唱边跳</string>
		<string>展示自己最性感的动作和最妩媚的动作</string>
		<string>做鬼脸，直到在座的都满意为止</string>
		<string>含情脉脉对左数第一个男生说：大爷，来呀，来呀，来呀</string>
		<string>边唱边跳：洗刷刷，洗刷刷十秒钟</string>
		<string>把身份证秀给大家看</string>
		<string>用异性的声音唱一首大家都比较熟悉的歌</string>
		<string>去问附近陌生异性喜不喜欢自己</string>
		<string>叫一个女店员过来，然后说你想她</string>
		<string>学三种动物叫</string>
		<string>做玛丽莲梦露的经典动作</string>
		<string>给手机上某一人打电话，说你爱TA</string>
		<string>含情脉脉对左数第一个异性说，我怀了你的孩子</string>
		<string>蹲在桌子上作便秘状</string>
		<string>用大拇指挖鼻屎十秒钟</string>
		<string>含情脉脉对右手边的人说：我爱你，你爱我吗，爱吗，爱吗</string>
		<string>跳钢管舞10秒钟</string>
		<string>跟空气激吻，直到在座的都满意为止</string>
	</array>
</dict>
</plist>
