<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<string>在场选一位异性，男生抱起女生保持五秒钟</string>
		<string>在场选一位异性，在TA左右脸颊各亲一下</string>
		<string>选右数第二个异性，男生单腿下跪，女生亲男生额头</string>
		<string>对左数第一个异性，从额头舔到下巴</string>
		<string>把你随身包里所有东西拿出来秀给大家看</string>
		<string>让右数第一个异性看你手机上所有短信</string>
		<string>和右手边的人对视二十秒</string>
		<string>让右数第二个异性，含你的耳朵吹气</string>
		<string>闻闻在座所有人的头发，告诉大家谁的最好闻</string>
		<string>和右手边的人深情对视，对TA唱《老鼠爱大米》半分钟</string>
		<string>选右数第一个男性，把腿架在他肩膀上让他捶腿</string>
		<string>和右数第一个异性，和TA摩擦鼻子十秒</string>
		<string>蒙着眼睛转三圈，随便抓在座的一个人吻一下</string>
		<string>表演电臀舞半分钟</string>
		<string>在场选一位异性，女生仰躺地上，男生撑在上面，做俯卧撑五次</string>
		<string>让左数第一个异性看你手机上所有照片</string>
		<string>被左右两位同时挠痒</string>
		<string>和左数第一个同性，拍张亲密照上传微博</string>
		<string>去翻右数第三个异性裤袋，把里面东西都取出来</string>
		<string>在场选一位异性，男生仰躺地上，女生撑在上面，坚持5秒钟</string>
		<string>选左数第一个异性，男生被女生绕场一圈</string>
		<string>吻一下在座最好看的异性的额头</string>
		<string>在场选一位异性，单膝跪地求婚</string>
		<string>用嘴吸住纸，传给左边的人</string>
		<string>选右数第一个异性，男生单腿下跪，女生伸手，男生亲女生手背</string>
		<string>亲右数第二个异性的手心</string>
		<string>添完左数第一个异性手指上的食物</string>
		<string>让左数第一个异性坐你大腿上，直到下一轮结束</string>
		<string>缓慢诱惑的吃一个东西</string>
		<string>为左手边的人擦嘴，鼻涕和眼泪</string>
		<string>对左数第一个男生，一边捶他的胸一边说，你好讨厌哦</string>
		<string>和左手边的人拥抱，直到下一轮结束</string>
		<string>打左数第一个异性的屁股</string>
		<string>在场选一位异性，女生仰躺地上，男生撑在上面，对视十秒</string>
		<string>让右数第一个异性，咬一下你的耳朵</string>
		<string>打电话给前任，说你想TA了</string>
		<string>在场选一位异性，一起跳支跳舞</string>
		<string>亲左数第二个异性的额头</string>
		<string>左边的人给你倒酒，倒多少喝多少</string>
		<string>在场选一位异性，一起消失五分钟</string>
		<string>和左数第一个异性，男生做跪地求婚状</string>
		<string>告诉大家你拥有的内裤品牌</string>
		<string>让左数第一个异性，踢一下你的屁股</string>
		<string>和右手边的人十指交扣，直到下一轮真心话大冒险结束</string>
		<string>和左数第二个异性，拥抱十秒钟</string>
		<string>在场选一位异性，女生踩男生脚上跳舞</string>
		<string>一边脱外衣一边扭屁股走一圈</string>
		<string>和左数第二个同性，对喝交杯酒</string>
		<string>在场选一位异性，向TA表白一分钟</string>
		<string>和右数第一个同性，十指相扣十秒，并看着对方眼睛含情脉脉地说我爱你</string>
		<string>在场选一位异性，对亲脖子</string>
	</array>
</dict>
</plist>
