<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<string>身体最敏感的部位是哪里</string>
		<string>去过异性洗手间么</string>
		<string>如果你可以带现场某一位异性回家，你会选择谁</string>
		<string>你介意你男或女朋友的过去吗</string>
		<string>如何让喜欢的异性睡在你身边</string>
		<string>你认为在座谁最能玩</string>
		<string>在座的哪位异性最性感</string>
		<string>你认为在座谁最性感</string>
		<string>喜欢对异性做什么小动作</string>
		<string>你介不介意当第三者</string>
		<string>你背叛过你男或女朋友吗</string>
		<string>你当过第三者吗</string>
		<string>你的敏感部位有哪些</string>
		<string>现场所有异性中哪位最顺眼</string>
		<string>比较你所有的旧情人</string>
		<string>现在和多少异性有非恋爱的暧昧关系</string>
		<string>你喝醉后会想干什么</string>
		<string>你kiss的技术怎么样</string>
		<string>内裤颜色是什么</string>
		<string>你想过和你身边的人分手或者离婚吗</string>
		<string>说出五种避孕方式</string>
		<string>和TA进行到哪一步了</string>
		<string>你有拍过不雅视频吗</string>
		<string>你最喜欢的成人影星是谁</string>
		<string>描述一下你穿过最性感的内衣</string>
		<string>观察异性时，你从什么部位开始</string>
		<string>如果让你从现场找一位男或女朋友的话，你会选择谁</string>
		<string>有什么方法能勾引到你</string>
		<string>你和几个人接过吻</string>
		<string>你做过最恶心的事情是什么</string>
	</array>
</dict>
</plist>
