<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<string>你觉得你有多少钱就可以归隐江湖了</string>
		<string>有没有网恋过</string>
		<string>你会同时爱上两个人吗</string>
		<string>你对梦中情人有什么要求</string>
		<string>想忘记一个人，最有效的方法是什么</string>
		<string>你有对同性动心过嘛</string>
		<string>无聊的时候一般做什么</string>
		<string>世界末日，你会幸存且可以救一个人，你会救谁</string>
		<string>假如自己的性别变了，你会喜欢现在的你吗</string>
		<string>只给你一天时间当异性，你最想做什么</string>
		<string>如果一天之内要用光十万元，你要怎么花</string>
		<string>你一个人的时候喜欢做什么</string>
		<string>你最怕的事情是什么</string>
		<string>如果能预知未来，你最希望看见的是什么</string>
		<string>描述一下最令你心灵煎熬的一件事</string>
		<string>曾经最被感动的事是什么</string>
		<string>你最喜欢的一家餐厅是哪里</string>
		<string>你会经常讨厌自己吗</string>
		<string>暗恋异性最长多久</string>
		<string>你谈过多少次恋爱</string>
		<string>你的初恋是几岁，和谁</string>
		<string>你生日最想见到的异性是谁</string>
		<string>你作弊使用过的最高招</string>
		<string>最想和在座的哪一位交往</string>
		<string>你的理想职业是什么</string>
		<string>你有对在座的某位动心过吗</string>
		<string>爱情，友情和亲情对你而言的顺序是什么</string>
		<string>第一次爱的人对你有什么影响</string>
		<string>你相信世界上有鬼吗</string>
		<string>每个月的开销是多少，花到哪去了</string>
		<string>最欣赏自己哪个部位</string>
		<string>是否想过自杀，为什么</string>
		<string>你最怕的事情是什么</string>
		<string>结婚后希望生男孩还是女孩</string>
		<string>你会接受远距离恋爱吗</string>
		<string>你会选择你爱的人还是爱你的人</string>
		<string>你最喜欢什么颜色</string>
		<string>什么样女人才有女人味</string>
		<string>你最近去最多的娱乐场所是哪里</string>
		<string>对你而言，爱情和友情哪个比较重要</string>
		<string>你眼中的真爱是什么样的</string>
		<string>前任说要跟你复合，你愿意不</string>
		<string>如何向喜欢的人表白</string>
		<string>有没有哪位前任是你想挽回的</string>
		<string>你认为幸福是什么</string>
		<string>觉得自己做过的最糟糕的事情是什么</string>
		<string>你想不想跳槽</string>
		<string>你最想去什么地方旅行</string>
		<string>你今天穿的内衣是多少钱买的</string>
		<string>自己最宝贵的财富是什么</string>
		<string>对自己那个部位最不满意</string>
		<string>介绍一个搭讪的方法</string>
		<string>男人喝醉的时候说的话是真心话吗</string>
		<string>交往的人中最爱谁</string>
		<string>你最喜欢的国家是哪个</string>
		<string>从小到大最丢脸的事情是什么</string>
		<string>如果让你从现场找一位异性做男女朋友，你会选择谁</string>
		<string>第一个喜欢的异性叫什么名字</string>
		<string>情人节最想收到什么礼物</string>
		<string>现在心里最在意的异性叫什么名字</string>
		<string>你第一个外号是什么</string>
		<string>在和男或女朋友交往的过程中，有被甩过吗</string>
		<string>如果时间能倒流你希望回到什么时间，为什么</string>
		<string>有没有对比你年长很多的异性动心过</string>
		<string>如果让你选择做一个电影中的角色，你会选谁</string>
		<string>如果时间能倒流你希望回到什么时候</string>
		<string>究竟应该用什么来判定应不应该和一个人结婚呢</string>
		<string>什么样男人才有男人味</string>
		<string>有没有和上司谈过恋爱</string>
		<string>你最怕的东西是什么</string>
		<string>谈过几次恋爱</string>
		<string>如果让你选择做一个小说中的角色，你会选谁</string>
		<string>到目前为止你做过最疯狂的事是什么</string>
		<string>如果你的爱人出轨了，你会分手吗</string>
		<string>你又被同性恋骚扰的经历</string>
		<string>你觉得最美的画面是什么</string>
		<string>生过的最严重的病是什么</string>
		<string>上厕所没带纸怎么办</string>
		<string>你觉得女友该不该花男友的钱</string>
		<string>你有男或女朋友吗</string>
		<string>你接受姐弟恋吗，几岁的范围可以接受</string>
		<string>今年让你最伤心的事情是什么</string>
		<string>最想实现的三个愿望是什么</string>
		<string>你有羡慕在座的谁吗</string>
		<string>你最喜欢的异性是什么类型</string>
		<string>你觉得一个月生活需要多少钱</string>
		<string>你的爱人要出国，你会怎么做</string>
		<string>如果有来生，你选择当男人还是女人，为什么</string>
		<string>你不喜欢的人对你表达，你会怎么拒绝</string>
		<string>如果有一天那个曾经抛弃你的人再来追求你，你会接受吗</string>
		<string>你最不开心的时候会有什么表现</string>
		<string>你对几个人说过我爱你</string>
		<string>你最想要的三样东西是什么</string>
		<string>上一次分手的原因是什么</string>
		<string>你前任死了，你愿意参加她葬礼吗</string>
		<string>你会为了众人的反对放弃自己想要的东西或人吗</string>
		<string>你觉得自己是个好人吗</string>
		<string>在座的谁最漂亮</string>
		<string>讲一件在场人的八卦</string>
		<string>你的理想职业是什么</string>
		<string>什么样是最佳分手方式</string>
		<string>你约会过的TA最大年龄是几岁</string>
		<string>你愿意和一个变性人做朋友吗</string>
		<string>你最讨厌什么样的人</string>
		<string>你最讨厌自己的什么特质</string>
		<string>你最喜欢的城市是哪个</string>
		<string>世上真的有真爱吗</string>
		<string>你有同时和不止一个人交往吗</string>
		<string>在座的哪位异性的着装你最喜欢</string>
		<string>如果你爱的人不爱你怎么办</string>
		<string>最喜欢哪部电影</string>
		<string>有什么特殊癖好</string>
		<string>最近一次通话是和谁，多长时间</string>
		<string>你的初吻是几岁，和谁</string>
		<string>如果明天是世界末日,你现在最想做的是什么</string>
		<string>如果你喜欢的人，醉倒在你的床上，你会怎么做</string>
		<string>你父母的生日是何时</string>
		<string>你前任结婚了，你愿意参加她婚礼吗</string>
		<string>你认为在座谁最捉摸不透</string>
		<string>你可能会爱上在座的谁</string>
		<string>上次哭是什么时候，为什么</string>
		<string>今年让你最开心的事情是什么</string>
		<string>你会不会向自己暗恋的人表白，怎么表白</string>
		<string>你敢蹦极吗</string>
		<string>你晚上一个人走在街上会怕吗</string>
		<string>描述一下最近一次被告白</string>
		<string>如果能预知未来，你最不希望看见的是什么</string>
		<string>你在乎别人看你的眼光吗</string>
		<string>如果你的爱人不爱你了，你会分手吗</string>
		<string>哭得最伤心的是哪一次，为什么</string>
		<string>打算什么时候结婚</string>
		<string>最近一次被骂是什么情况</string>
		<string>如果同性朋友对你表白，你会怎么样</string>
		<string>男女朋友分手后还能做普通朋友吗</string>
		<string>如果让你拥有一种超能力，你愿意拥有什么</string>
		<string>什么样的事情，你会瞒着别人</string>
	</array>
</dict>
</plist>
